@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   background-color: rgb(0, 0, 0); 
   width: 100%;
}
a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
header ul li{
    margin: 12px;
}

img{
    width: 300px;
}

h1{font-size: 50px;
    color: rgb(42, 3, 94);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    font-size: 20px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.CONTENEDOR{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10 px 0 10 px 0;
    background-color: rgb(218, 189, 224);
}

.CAJA1{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CAJA1 img{
    align-items: center;
    border-radius: 65%;
}
.CAJA1 p{
    font-size: 16px;
    font-family: "Kanit", sans-serif;
}

#NOSOTROSMAPS{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#NOSOTROSMAPS iframe{
    padding: 10px;
    margin: 10px;
}

.MENUARRIBA2{
    width: 40%;
    align-items: end;
    display: flex;
    font-size: 28px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(129, 14, 236);
}

.carouselExampleControls img{
    display: flex;
    border-radius: 50%;
    flex-direction: row;
    width: 50%;
    align-items: center;
}